.navbar-custom {
    background-color:#343a40;
  }

.nav-link{
    position: relative;
    transition: all 0.4s;
}

.nav-link::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after{ 
    opacity: 1;
}


.radius{
    border-radius: 50px;
}

.carousel-container{
    width: 1200px;
    margin: auto;
    margin-left: 200px;
}

.caro{
    margin-top: 200px;
    /* font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

.carousel-item{
    height: 32rem;
    width: 100%;
    align-items: center;
    
}

.caroab{
    width: 80%;
    height: 300px;
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}


.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mtext{
    position: static;
    
}

.cus{
    text-align: center;
}

.line{
    border: solid 2px black;
}

.caroab{
    width: 80%;
    height: 300px;
}

.carousel-item {
    transition: transform 0.6s ease-in-out; /* Change duration as needed */
    /* opacity: 0.5; */
}

.carousel-caption {
    font-family: poppin, sans-serif;
    font-size: 350;
}

.contact{
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px ;
    margin-top: 40px
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.box1{
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}
