.navbar-custom {
    background-color:#343a40;
  }

.nav-link{
    position: relative;
    transition: all 0.4s;
}

.nav-link::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after{ 
    opacity: 1;
}


.radius{
    border-radius: 50px;
}  

.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ali{
    text-align: center;
}

.image-container::after {
    content: "";
    clear: both;
    display: table;
  }

.side-by-side-image {
    float: left; /* Align images side by side */
    margin-right: 62px; /* Add space between the images */
  }

.side2{
    height: 200px;
    
      }

.line{
    border: solid 2px black;
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}

.contact{
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 30px ;
  margin-top: 40px
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

.box1{
  text-align: center;
  background-color: #343a40;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
}
