.navbar-custom {
    background-color:#343a40;
  }

.nav-link{
    position: relative;
    transition: all 0.4s;
}

.nav-link::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after,
.nav-link:focus::after{ 
    opacity: 1;
}

.log{
    margin-left: 20px;
    margin-right: 3px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent ;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

::placeholder{
    color: #555;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
 
.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}

*{
    box-sizing: border-box;
}

.mode{
    display: flex;
    /* justify-content: center; */
    align-items: center; 
    /*height: 100vh; */
    margin: 0;
    transition: background 0.2 linear;
}

.mode,.dark{
    background-color: #292C35;
    color: #fff;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 16px;
    width: 30px;
    transform: scale(1.5);
    margin-left: 10px;
}

.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 13px;
    width: 13px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform:translateX(24px);
}

.fa-moon{
    color: #f1c48f;
}

.fa-sun{
    color: #f39c12;
}

#radiu{
    border-radius: 50px;
}

#img1{
    height:460px ;
    width: 100%;
}

.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.margin{
    margin-left: 100px;
    margin-right: 100px;
}

.margn{
    margin-left: 80px;
    margin-right: 0px;
}

.grp1{
    background-color:#343a40;
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.comp{
    text-align: center;
}

.line{
    border: solid 2px black;
}

.grp2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.why{
    text-align: center;
}

.comp1{
    text-align: center;
}

.contact{
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px ;
    margin-top: 40px
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.box1{
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

