#img1{
    height:460px ;
    width: 100%;
}

.img2{
    background-image:  url(OLG1.jpg);
}

.imgf{
    align-items: center;
}

.line{
    border: solid 2px black;
}

.cus{
    text-align: center;
}
.main{
    /* margin: 5px 5px; */
    /* padding: 5px 5px; */
}

.grp1{
    background-color:#343a40;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.grp2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grp{
    color: white;
    text-align: center;
}
.container{
    /* background-color: #8A6056; */
    /* padding: 20px; */
}
 
.box{
    width: calc(25% - 24px);
    border: 2px solid lightgray;
    color: white;
    background-color: gray;
    padding: 20px;
    line-height: 1.4em;
} 

.left{
    float: left;
}

.clear{
    clear: both;
}

.carousel-item{
    transition: 1s;
}

.comp{
    text-align: center;
}

.comp1{
    text-align: center;
}

.box1{
    text-align: center;
    color: #fff;
}

.foot{
    color: #fff;
}

.bdy{
 background-color: gray;
}

.cont{
    color: #fff;
}
.caroab{
    width: 80%;
    height: 300px;
}

.ali{
    text-align: center;
}

.carousel-item{
    height: 32rem;
    width: 100%;
    align-items: center;
    
}

.mtext{
    position: static;
    
}

.why{
    text-align: center;
}

.navbar-custom {
    background-color:#343a40;
  }

.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-container{
    width: 1200px;
    margin: auto;
    margin-left: 200px;
}
  
.caro{
    margin-top: 200px;
    /* font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

.margin{
    margin-left: 20px;
    margin-right: 20px;
}