/* #img1{
    width: auto;
    
} */

.main{
    /* margin: 5px 5px; */
    /* padding: 5px 5px; */
}

.grp1{
    background-color:#8A6056;
    text-align: center;
    font-family: sans-serif;
    color: white;
}