#img1{
    height:550px ;
    width: 100%;
}

.img2{
    background-image:  url(OLG1.jpg);
}

.main{
    /* margin: 5px 5px; */
    /* padding: 5px 5px; */
}

.grp1{
    background-color:#8A6056;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.grp2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grp{
    color: white;
    text-align: center;
}
.container{
    background-color: #8A6056;
    /* padding: 20px; */
}
 
.box{
    width: calc(25% - 24px);
    border: 2px solid lightsalmon;
    color: white;
    background-color: #8A6056;
    padding: 20px;
    line-height: 1.4em;
} 

.left{
    float: left;
}

.clear{
    clear: both;
}

.carousel-item{
    transition: 1s;
}