.navbar-custom {
    background-color:#343a40;
  }

.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    /* background-color: #8A6056; */
    /* padding: 20px; */
}

.grp{
    color: white;
    text-align: center;
}

.box{
    width: calc(25% - 24px);
    border: 2px solid lightgray;
    color: white;
    background-color: gray;
    padding: 20px;
    line-height: 1.4em;
} 

.left{
    float: left;
    margin-right: 20px;
}

.down{
    margin-bottom: 100px;
  }