.navbar-custom {
    background-color:#343a40;
  }

.nav-link{
    position: relative;
    transition: all 0.4s;
}

.nav-link::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after, .nav-link:focus::after{ 
    opacity: 1;
}


.radius{
    border-radius: 50px;
}

.mainc{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.grp{
    color: white;
    text-align: center;
}

.box{
    width: calc(25% - 24px);
    border: 2px solid lightgray;
    color: white;
    background-color: gray;
    padding: 20px;
    line-height: 1.4em;
} 

.left{
    float: left;
    margin-right: 20px;
}

.down{
    margin-bottom: 100px;
  }

  .contact{
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px ;
    margin-top: 40px
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.box1{
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}
  